<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fr.android.animefight">

    <uses-sdk android:minSdkVersion="21"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".activity.MyActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.home.CoreActivity"/>
        <activity android:name=".activity.event.EventActivity"/>
        <activity android:name=".activity.home.story.ChooseArcsActivity"/>
        <activity android:name=".activity.fight.SimpleFightActivity"/>
        <activity android:name=".activity.fight.ChooseFightsActivity"/>
        <activity android:name=".activity.home.character.InspectActivityOld"/>
        <activity android:name=".activity.home.inventory.InventoryActivity"/>
        <activity android:name=".activity.home.formation.FormationActivity"/>
        <activity android:name=".activity.home.formation.FormationChooseCharacterActivity"/>
        <activity android:name=".activity.home.character.InspectCharacterActivity"/>
        <activity android:name=".activity.home.character.CharactersActivity"/>
        <activity android:name=".activity.home.formation.FormationChooseTacticienActivityOld"/>
        <activity android:name=".activity.starter.StarterActivity"/>
    </application>
</manifest>