<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fr.android.animefight">

    <uses-sdk android:minSdkVersion="21"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".Activity.MyActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CoreActivity"/>
        <activity android:name=".Activity.EventActivity"/>
        <activity android:name=".Activity.ArcsActivity"/>
        <activity android:name=".Activity.FightViewActivity"/>
        <activity android:name=".Activity.TeamManagementActivity"/>
        <activity android:name=".Activity.FightsActivity"/>
        <activity android:name=".Activity.InspectActivityOld"/>
        <activity android:name=".Activity.SelectActivity"/>
        <activity android:name=".Activity.InventoryActivity"/>
        <activity android:name=".Activity.FormationActivity"/>
        <activity android:name=".Activity.FormationChooseCharacterActivity"/>
        <activity android:name=".Activity.InspectCharacterActivity"/>
        <activity android:name=".Activity.InspectActivity"/>
        <activity android:name=".Activity.FormationChooseTacticienActivity"/>
        <activity android:name=".Activity.StarterActivityOld"/>
        <activity android:name=".Activity.StarterActivity"/>
    </application>
</manifest>